<div class="container">
<mat-card *ngIf="assignmentTransmis">
  <mat-card-content  *ngIf="authService.loggedInUser">
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date: 'dd/MM/yyyy'}}</mat-card-subtitle>

    <div id="bottom">

    <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="OnAssignmentRendu()" > Devoir Rendu </mat-checkbox>
    <mat-checkbox *ngIf="assignmentTransmis.rendu" (click)="supprimerRenduAssignment()"> Supprimer Rendu </mat-checkbox>

    <button mat-stroked-button (click)="edit()" [disabled]="!isAdmin" >Modifier</button>
      <!--<button mat-stroked-button color="primary" (click)="OnClickEdit()" [disabled]="!isAdmin()"> Modifier </button> -->

     <button  mat-flat-button color="warn" (click)="DeleteElement()" [disabled]="!isAdmin"> Supprimer </button>

    </div>
  </mat-card-content>
</mat-card>
</div>
