/* test Pour savoir si les assigment sont transmis en cliquant sur le devoir trasnmis */

<div class="container">
<mat-card *ngIf="assignmentTransmis">
  <mat-card-content >
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date: 'dd/MM/yyyy'}}</mat-card-subtitle>

    <div id="bottom">

    <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="OnAssignmentRendu()"> Devoir Rendu </mat-checkbox>
    <mat-checkbox *ngIf="assignmentTransmis.rendu" (click)="supprimerRenduAssignment()"> Supprimer Rendu </mat-checkbox>
    <button  mat-flat-button color="warn"  (click)="DeleteElement()"> Supprimer </button>
    </div>
  </mat-card-content>
</mat-card>
</div>
