<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Bienvenue sur notre Assignment app</mat-card-title>
    </mat-card-header>
    <mat-card-content class="welcome-card-content">
      <div class="image-container">
        <img src="../assets/patrick.jpeg" alt="Patrick">
        <div class="image-caption">FERNANDES DE FARIA Patrick</div>
      </div>
      <div class="image-container">
        <img src="../assets/julien.jpeg" alt="Julien">
        <div class="image-caption">BRANDI Julien</div>
      </div>
    </mat-card-content>

  </mat-card>
</div>
