<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Bienvenue sur notre Assignment Application</mat-card-title>
    </mat-card-header>
    <mat-card-content class="welcome-card-content">
      <div class="image-container">
        <img src="../assets/patrick.jpeg" alt="Patrick">
        <div class="image-caption">FERNANDES DE FARIA Patrick</div>
      </div>
      <div class="image-container">
        <img src="../assets/julien.jpeg" alt="Julien">
        <div class="image-caption">BRANDI Julien</div>
      </div>
    </mat-card-content>
    <!-- Bouton Home placé en bas de la carte -->
    <div class="home-button-container">
      <button mat-button mat-raised-button color="accent" routerLink="/home"><mat-icon>home</mat-icon>Home</button>

    </div>
  </mat-card>
</div>
