<!--<main class="container" *ngIf="!FormVisible"> Ca sert plus a rien -->
<main class="container">

  <!-- On va remplacer ceci
<button class="ajouterBtn" mat-flat-button color="accent"
        (click)="onAddAssignmentBtnClick()"> Ajouter un devoir
</button> -->

  <div class="Button">
  <div class="ajouterBtn">
    <a routerLink="/add-assignment">
      <button class="ajouterBtn"
              mat-flat-button color="accent"
              (click)="onAddAssignmentBtnClick()">Ajouter un devoir
      </button>
    </a>
  </div>

<!--

<mat-list *ngFor="let assigment of assignments"
    [ngClass]="{'rendu':assigment.rendu, 'nonRendu': !assigment.rendu}">
  <a routerLink="/assignment/{{assigment.id}}">{{assigment.nom}}</a>

  <mat-list-item (click)="assignmentClique(assigment)">
      <p appRendu *ngIf="assigment.rendu;else nonRendu">
        Devoir intitulé {{assigment.nom}}, à été rendu le : {{assigment.dateDeRendu | date}}</p>
    <ng-template #nonRendu>
      <p>
        Le Devoir intitulé {{assigment.nom}} n'a pas été rendu.
      </p>
    </ng-template>
      </mat-list-item>
</mat-list>
-->
  <div class="search-container">
    <mat-form-field appearance="fill">
      <mat-label>Rechercher un assignment</mat-label>
      <input matInput (keyup)="OnRecherche($event)" placeholder="Nom de l'assignment">
    </mat-form-field>
  </div>

  <div class="filter-button-container">
    <button mat-button [matMenuTriggerFor]="filterMenu" >Filtres</button>
    <mat-menu #filterMenu="matMenu">
      <div class="filter-options">
        <mat-checkbox (change)="OnRenduFiltre($event)">Devoirs Rendus</mat-checkbox>

      </div>
    </mat-menu>
  </div>

  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="assignments">

      <!-- ID  -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.id}} </td>
      </ng-container>

      <!-- Nom  -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Matiere </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.nom}} </td>
      </ng-container>

      <!-- ImageMatiere  -->
      <ng-container matColumnDef="photomatiere">
        <th mat-header-cell *matHeaderCellDef> Photo de la Matiere </th>
        <td mat-cell *matCellDef="let assignment">
          <img [src]="assignment.photomatiere" alt="Image of Matiere" width="50" height="50">
        </td>
      </ng-container>

      <!-- PhotoProf  -->
      <ng-container matColumnDef="photoprof">
        <th mat-header-cell *matHeaderCellDef> Photo du Professeur </th>
        <td mat-cell *matCellDef="let assignment">
          <img [src]="assignment.photoprof" alt="Photo du Prof" width="50" height="50">
        </td>
      </ng-container>

      <!-- Author  -->
      <ng-container matColumnDef="auteur">
        <th mat-header-cell *matHeaderCellDef> Nom de l'éleve </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.auteur}} </td>
      </ng-container>

      <!-- DateDeRendu  -->
      <ng-container matColumnDef="dateDeRendu">
        <th mat-header-cell *matHeaderCellDef> Date de Rendu </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.dateDeRendu | date}} </td>
      </ng-container>

      <!-- Rendu  -->
      <ng-container matColumnDef="rendu">
        <th mat-header-cell *matHeaderCellDef> Rendu </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.rendu ? 'Oui' : 'Non'}} </td>
      </ng-container>

      <!-- Note  -->
      <ng-container matColumnDef="Note">
        <th mat-header-cell *matHeaderCellDef> Note </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.note}} </td>

      </ng-container>

      <!-- Remarques  -->
      <ng-container matColumnDef="Remarques">
        <th mat-header-cell *matHeaderCellDef> Remarques </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.remarques}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr routerLink="/assignment/{{row.id}}" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>


  <div class="pagination-container">

    <div class="navigation-buttons">
      <button mat-button (click)="PremierPage()">Première Page</button>
      <button mat-button (click)="DernierPage()">Dernière Page</button>
    </div>

    <div class="pagination-info">
      Page {{ page }} sur {{ totalPages }}
    </div>

    <mat-paginator [length]="totalDocs"
                   [pageSize]="limit"
                   [pageIndex]="page - 1"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </div>




  <!--
<app-assignment-detail [assignmentTransmis]="assignementSelectionne"
(assignmentRendu)="OnRenduAssignmentDelete($event)"
></app-assignment-detail> -->

</main>

<!--
<app-add-assignment *ngIf="FormVisible" (nouvelAssignment)="onNouvelAssignment($event)" ></app-add-assignment>

-->
