.tittle-toolbar {
  background-color:#3498DB;
}

.title-center {
  margin: 0 auto;
  color: white;
}
mat-toolbar-row {
  justify-content: space-between;
  color: white;
}

mat-sidenav-container{
  height:calc(100% - 64px);
}

mat-sidenav{
  width: 300px;
  background-color: #F1F1F1;
}
a mat-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 27px;
}

mat-icon {
  margin-right: 16px;
  font-size: 24px;
}
