
<mat-toolbar class="tittle-toolbar">
  <mat-toolbar-row>
    <!--<button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>-->
    <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
    <span class="title-center">Gestionnaire de devoir</span>
    <button mat-button routerLink="/home"><mat-icon>home</mat-icon>Home</button>
    <button mat-button><mat-icon>how_to_reg</mat-icon>Login</button>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" #sidenav mode="side" >
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="/assignment"><mat-icon>assignment</mat-icon>Liste des devoirs</a>
      <a mat-list-item href="#" routerLink="/add-assignment"><mat-icon>add</mat-icon>Ajout d'un devoir</a>
      <a mat-list-item href="#" routerLink="/assignment"><mat-icon>edit</mat-icon>Modification d'un devoir</a>
      <a mat-list-item href="#" routerLink="/assignment-detail"><mat-icon>delete</mat-icon>Suppression d'un devoir</a>
      <a mat-list-item href="#" routerLink="/assignment"><mat-icon>report_problem</mat-icon>Génération de données de test</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--Ceci est le contenu principal de l'application-->
    <!--<app-assignments></app-assignments>-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

