<div class="container" *ngIf="authService.isLoggedIn()">
  <mat-vertical-stepper linear #stepper>
    <mat-step [completed]="etape1">
      <ng-template matStepLabel>Détails de l'Assignment</ng-template>
      <form [formGroup]="firstFormGroup">

        <!-- Nom de l'assignment -->
        <mat-form-field>
          <input matInput formControlName="nom" placeholder="Nom du devoir" required>
        </mat-form-field>

        <!-- Nom de l'élève -->
        <mat-form-field>
          <input matInput formControlName="auteur" placeholder="Nom de l'élève" required>
        </mat-form-field>

        <!-- Bouton pour passer à l'étape suivante (désactivé tant que tous les champs ne sont pas remplis) -->
        <button mat-button matStepperNext [disabled]="!firstFormGroup.valid">Suivant</button>
      </form>
    </mat-step>

    <mat-step [completed]="etape2">
      <ng-template matStepLabel>Deuxième étape</ng-template>
      <form [formGroup]="secondFormGroup">
        <!-- Note sur 20 -->
        <mat-form-field>
          <input matInput formControlName="note" placeholder="Note sur 20" required>
        </mat-form-field>

        <!-- Commentaires sur l'assignment -->
        <mat-form-field>
          <textarea matInput formControlName="remarques" placeholder="Remarques sur l'assignment"></textarea>
        </mat-form-field>

        <!-- Sélection de la matière -->
        <mat-form-field>
          <mat-select formControlName="matiere" placeholder="La matière "(selectionChange)="OnMatierechoisi($event)">
            <mat-option *ngFor="let matiere of matieres" [value]="matiere.id">
              {{matiere.nom}} <img [src]="matiere.photoprof" class="image1">
              <img class="image2" [src]="matiere.photomatiere">
            </mat-option>
          </mat-select>
          <input matInput [value]="secondFormGroup.value.matiere" disabled>
        </mat-form-field>

        <!-- Date de rendu -->
        <mat-form-field appearance="fill">
          <input matInput [matDatepicker]="picker" formControlName="dateDeRendu" placeholder="Date de rendu" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- Bouton pour passer à l'étape suivante ou revenir en arrière -->
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button matStepperNext [disabled]="!secondFormGroup.valid">Suivant</button>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Résumé et Confirmation</ng-template>
      <!-- Afficher un résumé des informations saisies -->
      <div *ngIf="etape1 && etape2">
        <h3>Résumé du devoir : </h3>
        <p><strong>Nom du devoir :</strong> {{ firstFormGroup.value.nom }}</p>
        <p><strong>Nom de l'élève :</strong> {{ firstFormGroup.value.auteur }}</p>
        <p><strong>Note sur 20 :</strong> {{ secondFormGroup.value.note }}</p>
        <p><strong>Remarques :</strong> {{ secondFormGroup.value.remarques }}</p>
        <p><strong>Matière :</strong> {{ secondFormGroup.value.matiere }}</p>
        <p><strong>Date de rendu :</strong> {{ secondFormGroup.value.dateDeRendu | date }}</p>
      </div>

      <!-- Bouton de soumission -->
      <button mat-stroked-button color="primary" (click)="onSubmit($event)">Ajouter Devoir</button>
    </mat-step>

  </mat-vertical-stepper>
</div>
