
<div class="container"  *ngIf="assignment">
<form ngForm (submit)="OnSaveAssignment($event);Formupdate.reset()"
      #Formupdate class="taille-form">
  <!-- on ajoute un field pour mettre le nom du devoir  -->
  <mat-form-field>
    <input matInput
           [(ngModel)]="NomDevoir" name="nom" placeholder="Nom du devoir " required>
  </mat-form-field>

  <!-- on ajoute un button pour la date de rendu -->
  <mat-form-field appearance="fill">
    <input matInput [matDatepicker]="picker"
           placeholder="Edition de la date de rendu"
           [(ngModel)]="DateRendu"
           name="dateDeRendu" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- champ pour le nom de l'élève  -->
  <mat-form-field>
    <input matInput [(ngModel)]="auteur" name="auteur" placeholder="Nom de l'élève" required>
  </mat-form-field>

  <!-- champ pour la matière  -->
  <mat-form-field>
    <mat-select  [(value)]="valeurselectionneID" placeholder="La matiere" (selectionChange)="OnMatierechoisi($event)" >
      <mat-option  *ngFor="let matiere of matieres" [value]="matiere.id"  >
        {{matiere.nom}} <img [src]="matiere.photoprof" class="image1">  <img  class="image2" [src]="matiere.photomatiere">
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- champ pour la note sur 20  -->
  <mat-form-field>
    <input matInput [(ngModel)]="note" name="note" placeholder="Note sur 20" required>
  </mat-form-field>

  <!-- champ pour les remarques sur l'assignment  -->
  <mat-form-field>
    <textarea matInput [(ngModel)]="remarques" name="remarques" placeholder="Remarques sur l'assignment"></textarea>
  </mat-form-field>


  <!-- bouton pour sauvegarder l'assignment  -->
  <button mat-stroked-button
          color="primary"
          [disabled]="((!NomDevoir || !DateRendu || !auteur || !matiere || !photomatiere || !photoprof || !note))"
          (click)="OnSaveAssignment($event)">
    Sauvegarder
  </button>
</form>
</div>
