<!--/* exemple de formulaire */ -->

<div class="container"  *ngIf="assignment">
<form ngForm (submit)="OnSaveAssignment($event);Formupdate.reset()"
      #Formupdate class="form">
  <!--/* on ajoute un field pour mettre le nom du devoir */ -->
  <mat-form-field>
    <input matInput
           [(ngModel)]="NomDevoir" name="nom" placeholder="Edition du nom " required>
  </mat-form-field>

  <!--/* on ajoute un button pour la date de rendu */-->
  <mat-form-field appearance="fill">
    <input matInput [matDatepicker]="picker"
           placeholder="Edition de la date de rendu"
           [(ngModel)]="DateRendu"
           name="dateDeRendu" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!--/* champ pour le nom de l'élève (auteur) */ -->
  <mat-form-field>
    <input matInput [(ngModel)]="auteur" name="auteur" placeholder="Nom de l'élève" required>
  </mat-form-field>

  <!--/* champ pour la matière */ -->
  <mat-form-field>
    <input matInput [(ngModel)]="matiere" name="matiere" placeholder="Matière" required>
  </mat-form-field>

  <!--/* champ pour la note sur 20 */ -->
  <mat-form-field>
    <input matInput [(ngModel)]="note" name="note" placeholder="Note sur 20" required>
  </mat-form-field>

  <!--/* champ pour les remarques sur l'assignment */ -->
  <mat-form-field>
    <textarea matInput [(ngModel)]="remarques" name="remarques" placeholder="Remarques sur l'assignment"></textarea>
  </mat-form-field>


  <!--/* bouton pour sauvegarder l'assignment */ -->
  <button mat-raised-button
          color="primary"
          [disabled]="((!NomDevoir || !DateRendu || !auteur || !matiere || !photomatiere || !photoprof || !note))"
          (click)="OnSaveAssignment($event)">
    Sauvegarder
  </button>
</form>
</div>
