<!--/* exemple de formulaire */ -->

<div class="container"  *ngIf="assignment">
<form ngForm (submit)="OnSaveAssignment($event);Formupdate.reset()"
      #Formupdate class="form">
  <!--/* on ajoute un field pour mettre le nom du devoir */ -->
  <mat-form-field>
    <input matInput
           [(ngModel)]="NomDevoir" name="nom" placeholder="Edition du nom " required>
  </mat-form-field>

  <!--/* on ajoute un button pour la date de rendu */-->
  <mat-form-field appearance="fill">
    <input matInput [matDatepicker]="picker"
           placeholder="Edition de la date de rendu"
           [(ngModel)]="DateRendu"
           name="dateDeRendu" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!--/* on ajoute un button pour ajouter le devoir */-->
  <button mat-raised-button
          color="primary"
          [disabled]="((!NomDevoir || !DateRendu))"
          (click)="OnSaveAssignment($event)">
    Sauvegarder
  </button>
</form>
</div>
