<div class="form-container">
  <h2 class="form-title">Créer un compte</h2>
  <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username"><mat-icon>account_circle</mat-icon> Nom d'utilisateur</label>
      <input type="text" id="username" formControlName="username" required>
    </div>

    <div class="form-group">
      <label for="password"><mat-icon>lock</mat-icon> Mot de passe</label>
      <input type="password" id="password" formControlName="password" required>
    </div>

    <div class="form-group">
      <label for="admin"><mat-icon>verified_user</mat-icon> Administrateur</label>
      <input type="checkbox" id="admin" formControlName="isAdmin">
    </div>

    <button type="submit" [disabled]="!createAccountForm.valid">Créer un compte</button>
    <button routerLink="/login">Connexion</button>

  </form>
</div>
